@import 'ui-variables';

.i4atom-Card {
  background-color: @base-background-color;
  padding: 5px 10px;
  border-bottom: 1px solid @base-border-color;

  .name-container {
    display: flex;

    .name {
      flex: 1;
    }
  }

  .content {
    display: flex;

    .empty-pull-request {
      flex: 1;
    }

    .pull-request {
      flex: 1;
      display: flex;

      .space {
        flex: 1;
      }
    }
  }

  .text-merged {
    color: #6f42c1;
  }
}
